h1 {
    text-align:center;
}

#submit {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: 300px;
    grid-column-gap: 5px;
    padding: 10px;
}

#rgbVisualizer {
    height: 100%;
    width: 100%;
}

.slider {
    width: 50%; 
    height: 50px;
}

label {
    font-size: 25px;
}

#submitButton{
    height: 30px;
}

#rgbSensor {
    width: 400px;
    height: 200px;
}

.selectedColor {
    width: 100%;
    height: 100px;
}

p {
    padding: 50px;
    font-size: 40px;
}

.content-section {
    display: none;
}
  
.active {
    display: block;
}